<div class="container">
  <h1>{{saludo}}, mi primer proyecto</h1>
  <h2>{{welcome}}</h2>

  <ul>
    <li *ngFor="let task of tasks()">
      {{ task }}
    </li>
  </ul>

  <hr>

  <h2>{{'Hola'.repeat(4)}}</h2>
  <p>La suma de 3+3 es {{3+3}}</p>
  <p>{{saludo}}, Soy {{name()}} y mi edad es {{age}}</p>

  <hr>
  <h2>Angular Property Binding | Vinculación de Propiedades en Angular</h2>
  <img [src]="person().avatar" [alt]="name()">
  <br>
  <input type="number" [value]="age">
  <br>
  <button [disabled]="disabled">Click me</button>
  <br>
  <p>Person: {{person.name}}</p>

  <hr>

  <button class="clickme" (click)="clickHandler()">Click me</button>
  <br><br>
  <button class="dblclick" (dblclick)="clickHandler()">Double Click me</button>
  <p>(change)</p>
  <input type="number" [value]="age" (change)="changeHandler($event)">

  <p>(keydown)</p>
  <input type="text" [value]="name()" (keydown)="keydownHandler($event)">

  <p>(keydown shift + t)</p>
  <input type="text" [value]="name()" (keydown.shift.t)="clickHandler()">
<hr>
  <h2>Signals</h2>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <p>Name: {{name()}}</p>

  <ul>
    <p>Total: {{tasks().length}}</p>
    <li *ngFor="let task of tasks(); index as i">
      {{i}} {{ task }}
    </li>
  </ul>

  <hr>

  <div *ngIf="1 !== 1" >
    My content
  </div>

  <div *ngIf="name()==='KaisherDev'" >
    Yo soy {{name()}}
  </div>

  <input type="number" [value]="person().age" (change)="changeAge($event)">
  <div *ngIf="person().name === 'KaisherDev' && person().age > 18; else elseBloque">
    Soy KaisherDev y soy mayor de 18
  </div>
  <ng-template #elseBloque>
    Soy KaisherDev y soy menor de 18
  </ng-template>

</div>
