.container{
  padding: 3rem;
}

.clickme{
  padding: 5px;
  background-color: green;
  border-radius: 4px;
}

.dblclick{
  padding: 5px;
  background-color: blue;
  border-radius: 4px;
  color: white;
}

.box{
  height: 10px;
  display: block;
  background-color: red;
}
